# String

In [1]:
from flask import Flask
app=Flask("__name__")
@app.route('/')
def index():
    return 'Hello World'
if '__name__'=='__main__':
    app.run(debug=True)

In [3]:
def fact(num):
    if (num==0 or num==1):
        return 1
    else:
        return num*fact(num-1)
num=int(input('enter the fact numbers: '))
res=fact(num)
print(res)

enter the fact numbers: 4
24

In [4]:
f=lambda n:1 if n<=1 else n*fact(n-1)
f(4)

24

In [9]:
def is_prime(num):
    for i in range(2,num):
        if num%i==0:
            print("its not prime")
            break
        else:
            print('its_prime')
            break
obj=[i*5 for i in range(0,11)]
print(obj)
is_prime(5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
its_prime

In [10]:
import math
def factorial(num):
    return math.factorial(num)
factorial(5)

120

In [11]:
a=(100,20,'amar',50,'raju','aajam',10.50)
type(a)

tuple

In [12]:
s1=a[0:3]
s1

(100, 20, 'amar')

In [14]:
s2=a[4:-2]
s2

('raju',)

In [15]:
# tuple joining
c=s1+s2
print(c)

(100, 20, 'amar', 'raju')

In [16]:
a=[[1,2,3,4],[4,5]]
output=[]
for i in range(len(a)):
#         b.append(a[i][1])
# b
    for j in range(len(a[i])):
        if (a[i][j])%2==0:
            output.append(a[i][j])
#         print(i,j,a[i][j])
print(output)

[2, 4, 4]

In [17]:
def set_method(self,name):
    self.name=name
def getter_method(self):
    return self.name

In [20]:
n=int(input('enter the set size: '))
a=set()
for i in range(n): 
    a.add(int(input('enter the set elements : ')))
#     et=int(input('enter the elements:'))
#     a.add(et)
print(a)

enter the set size: 2
enter the set elements : 4
enter the set elements : 5
{4, 5}

In [21]:
my_string = "Hello"
my_string[0]

'H'

# Slicing

In [22]:
#<string_variable>[start:stop:step]

In [23]:
>>> freecodecamp = "freeCodeCamp"

#freecodecamp[2:8]
freecodecamp[0:3]
freecodecamp[0:4]
freecodecamp[4:7]
freecodecamp[4:8]
freecodecamp[8:11]
freecodecamp[8:12]
freecodecamp[8:13]

'Camp'

In [24]:
freecodecamp = "amarendra kumar kushwaha"

# Default start and step
freecodecamp[:8]

'amarendr'

In [25]:
# Default end and step
freecodecamp[4:]

'endra kumar kushwaha'

In [26]:
# Default start
freecodecamp[:8:-2]

'aahu au '

In [27]:
# Default stop
freecodecamp[4::3]

'erkakhh'

In [28]:
# Default start and stop
freecodecamp[::-2]

'aahu au rnrm'

In [31]:
lst=[1,2,3,4]
lst1=[2,3,4,5]
lst3=lst+lst1
print(lst3)

[1, 2, 3, 4, 2, 3, 4, 5]

# f-Strings

To define an f-string, we just add an f before the single or double quotes. 
Then, within the string, we surround the variables or expressions with curly braces {}. 
This replaces their value in the string when we run the program.

In [32]:
first_name = "Amarendra"
favorite_language = "Python"
print(f"Hi, I'm {first_name}. I'm learning {favorite_language}.")

Hi, I'm Amarendra. I'm learning Python.

In [33]:
print("Hi, I'm {}. I'm learning {}.".format('Amarendra','Python'))

Hi, I'm Amarendra. I'm learning Python.

In [35]:
value = 5
print(f"{value} multiplied by 2 is: {value * 2}")

5 multiplied by 2 is: 10

In [36]:
freecodecamp = "FREECODECAMP"

print(f"{freecodecamp.lower()}")

freecodecamp

In [37]:
print(f"{freecodecamp.title()}")

Freecodecamp

# String Methods

<string_variable>.<method_name>(<arguments>)

In [38]:
freecodecamp = "amarendra kumar kushwaha"

freecodecamp.capitalize()

#freecodecamp.count("C")

#freecodecamp.find("e")

#freecodecamp.index("p")

#freecodecamp.isalnum()

#freecodecamp.isalpha()

#freecodecamp.isdecimal()

#freecodecamp.isdigit()

#freecodecamp.isidentifier()

#freecodecamp.islower()

#freecodecamp.isnumeric()

#freecodecamp.isprintable()

#freecodecamp.isspace()

#freecodecamp.istitle()

#freecodecamp.isupper()

#freecodecamp.lower()

#freecodecamp.lstrip("f")

#freecodecamp.rstrip("p")

#freecodecamp.replace("e", "a")

#freecodecamp.split("C")

#freecodecamp.swapcase()

#freecodecamp.title()

#freecodecamp.upper()

'Amarendra kumar kushwaha'

In [39]:
freecodecamp.isidentifier()

False

In [40]:
freecodecamp.isprintable()

True

# Lists in Python

In [41]:
my_list = [[1, 2, 3], [4, 5, 6]]

my_list[1]

[4, 5, 6]

In [42]:
my_list[0]

[1, 2, 3]

In [43]:
len(my_list)

2

In [44]:
l1=[1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

# Update a Value in a List

<list_variable>[<index>] = <value>

In [45]:
letters = ["a", "b", "c", "d"]

In [46]:
letters

['a', 'b', 'c', 'd']

In [47]:
letters[0] = "z"

In [48]:
letters

['z', 'b', 'c', 'd']

# Add a Value to a List

In [49]:
my_list = [1, 2, 3, 4]

In [50]:
my_list.append(5)

In [51]:
my_list

[1, 2, 3, 4, 5]

# Remove a Value from a List

In [52]:
my_list = [1, 2, 3, 4]

In [53]:
my_list.remove(3)

In [54]:
my_list

[1, 2, 4]

# List Indexing

In [55]:
letters = ["a", "b", "c", "d"]

letters[0]

letters[1]

letters[2]

letters[3]

'd'

# List Slicing

<list_variable>[start:stop:step]

In [56]:
my_list = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]

In [57]:
my_list[2:6:2]

['c', 'e']

In [58]:
my_list[2:8]

['c', 'd', 'e', 'f', 'g', 'h']

In [59]:
my_list[1:10]

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [60]:
my_list[4:8:2]

['e', 'g']

In [61]:
my_list[::-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [62]:
my_list[::-2]

['i', 'g', 'e', 'c', 'a']

In [63]:
my_list[8:1:-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c']

In [64]:
my_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [65]:
my_list[-5::1]

['e', 'f', 'g', 'h', 'i']

In [66]:
my_list[-5::-1]

['e', 'd', 'c', 'b', 'a']

# List Methods

In [67]:
my_list = [1, 2, 3, 3, 4]

In [68]:
my_list.append(5)
my_list

[1, 2, 3, 3, 4, 5]

In [69]:
my_list.extend([6, 7, 8])
my_list

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [70]:
my_list.insert(2, 15)
my_list

[1, 2, 15, 3, 3, 4, 5, 6, 7, 8]

In [71]:
my_list.remove(2)
my_list

[1, 15, 3, 3, 4, 5, 6, 7, 8]

In [72]:
my_list.pop()

8

In [73]:
my_list.index(6)

6

In [74]:
my_list.count(2)

0

In [75]:
my_list.max()  #accending orders
my_list

AttributeError: 'list' object has no attribute 'max'

In [76]:
max(my_list)

15

In [77]:
my_list.reverse()    ## decending orders
my_list

[7, 6, 5, 4, 3, 3, 15, 1]

In [78]:
my_list.clear()
my_list

[]

In [79]:
a=[1,2,3,4,5,6,7,8,9]
[i%2==i**2 for i in a]

[True, False, False, False, False, False, False, False, False]

In [80]:
def is_maps(a):
    return (list(map(lambda x :"hellotimes"+str(x),a)))
# a=[1,2,3,4,5,6,7,8,9]
is_maps(a)

['hellotimes1',
 'hellotimes2',
 'hellotimes3',
 'hellotimes4',
 'hellotimes5',
 'hellotimes6',
 'hellotimes7',
 'hellotimes8',
 'hellotimes9']

# List comprehension

In [81]:
a=[1,2,3,4,5,6,7,8,9,10]

In [82]:
[i%2==0 for i in range(10+1)]

[True, False, True, False, True, False, True, False, True, False, True]

In [83]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [84]:
[(i+1)*5 for i in range(10)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [85]:
[i*5 for i in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [86]:
for i in range(1,11):
    print(i,'*',5,'=',i*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [87]:
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [88]:
[i if (i%2)==0 else '+' for i in range(11)]

[0, '+', 2, '+', 4, '+', 6, '+', 8, '+', 10]

In [89]:
[i for i in range(20) if (i%2)==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
[[j*i for j in range(4,5)] for i in range(7,8)]

[[28]]

# Tuples in Python
To define a tuple in Python, we use parentheses () and separate the elements with a comma. 
It is recommended to add a space after each comma to make the code more readable.

# Tuple Indexing

In [91]:
my_tuple = (1, 2, 3, 4)

In [92]:
my_tuple[0]

1

In [93]:
my_tuple[1]

2

In [94]:
my_tuple[2]

3

In [95]:
my_tuple[3]

4

In [96]:
my_tuple = (1, 2, 3, 4)

In [97]:
my_tuple[-1]

4

In [98]:
my_tuple[-2]

3

In [99]:
my_tuple[-3]

2

In [100]:
my_tuple[-4]

1

In [101]:
len(my_tuple)

4

In [102]:
my_tuple = ([1, 2, 3], (4, 5, 6))

In [103]:
 my_tuple[0]

[1, 2, 3]

In [104]:
my_tuple[1]

(4, 5, 6)

In [105]:
my_tuple = (4, 5, 6, 7, 8, 9, 10)
my_tuple

(4, 5, 6, 7, 8, 9, 10)

In [106]:
a=my_tuple[:5]
a

(4, 5, 6, 7, 8)

In [107]:
b=my_tuple[:]
b

(4, 5, 6, 7, 8, 9, 10)

In [108]:
z=a+b
set(z)

{4, 5, 6, 7, 8, 9, 10}

In [109]:
 my_tuple[3:8]

(7, 8, 9, 10)

In [110]:
my_tuple[2:9:2]

(6, 8, 10)

In [111]:
my_tuple[:8]

(4, 5, 6, 7, 8, 9, 10)

# Tuple Methods

In [112]:
my_tuple = (4, 4, 5, 6, 6, 7, 8, 9, 10)

In [113]:
my_tuple.count(6)

2

In [114]:
my_tuple.index(7)

5

In [115]:
## swap the two numbers
a = 1
b = 2

# Swap the values
a,b=b,a
print(a,b)

2 1

In [116]:
x = 10
y = 50
 
# Swapping of two variables
# Using third variable
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [117]:
#n=int(input('enter the no of values : '))
n=15
a=1
b=1
output=[]
for i in range(n):
    output.append(a)
    a,b=b,a+b
print(output,end=' ')

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

# Dictionaries in Python
Now let's start diving into dictionaries. This built-in data structure lets us create pairs of values 
where one value is associated with another one.

To define a dictionary in Python, we use curly brackets {} with the key-value pairs separated by a comma.

The key is separated from the value with a colon :, like this:

In [118]:
my_dict = {"a":[1,2], "b": [3,4], "c": [5,6], "d": [7,8]}

print(my_dict["a"])

[1, 2]

In [119]:
my_dict.items()

dict_items([('a', [1, 2]), ('b', [3, 4]), ('c', [5, 6]), ('d', [7, 8])])

In [120]:
my_dict.values()

dict_values([[1, 2], [3, 4], [5, 6], [7, 8]])

In [121]:
my_dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [122]:
my_dict.get('a')

[1, 2]

In [123]:
for i in my_dict:
    print(i,my_dict[i][0])

a 1
b 3
c 5
d 7

In [124]:
str1='aabbccd'
str1=list(set(str1))
str2=[[0,1,5],[2],[3,4],[6]]
dct1=dict(zip(str1,str2))
dct1

{'c': [0, 1, 5], 'b': [2], 'a': [3, 4], 'd': [6]}

In [125]:
dct1['d']=[6]

In [126]:
dct1

{'c': [0, 1, 5], 'b': [2], 'a': [3, 4], 'd': [6]}

# Update a Value in a Dictionary

<variable_with_dictionary>[<key>] = <value>

In [127]:
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}
my_dict["a"] = [0,1,5]

In [128]:
my_dict

{'a': [0, 1, 5], 'b': 2, 'c': 3, 'd': 4}

In [132]:
l1=[1,2,3,4]
l2=[4,5,6,7]
dct=dict(zip(l1,l2))
dct

{1: 4, 2: 5, 3: 6, 4: 7}

In [139]:
max(dct,key=dct.get)

4

# Add a Key-Value Pair to a Dictionary

<variable_with_dictionary>[<new_key>] = <value>

In [140]:
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}

my_dict["e"] = 5

In [141]:
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [142]:
import pandas as pd

In [143]:
l=[0]

In [144]:
df=pd.DataFrame(my_dict,l)
df

   a  b  c  d  e
0  1  2  3  4  5

In [145]:
x=df.iloc[:,:-1]

In [146]:
x

   a  b  c  d
0  1  2  3  4

In [147]:
y=df.iloc[:,4:5]
y

   e
0  5

In [148]:
result = pd.concat([x,y],axis=1)
result

   a  b  c  d  e
0  1  2  3  4  5

In [ ]:
result1 = pd.concat([x,y], axis=1)
result1

In [126]:
from numpy.random import randn as rn
df1=pd.DataFrame(rn(4,5))
df1

          0         1         2         3         4
0 -2.600547 -0.311205  0.204606 -1.516624 -1.392134
1  0.535800  0.636265 -0.830454 -0.670169  0.426256
2 -0.494944  2.097227  2.129522 -0.078934  0.936896
3  0.855270 -1.222177  1.347107 -0.215507 -0.601107

In [127]:
x=df1.iloc[:,:-1]
x

          0         1         2         3
0 -2.600547 -0.311205  0.204606 -1.516624
1  0.535800  0.636265 -0.830454 -0.670169
2 -0.494944  2.097227  2.129522 -0.078934
3  0.855270 -1.222177  1.347107 -0.215507

In [128]:
y=df1.drop(x,axis=1)
y

          4
0 -1.392134
1  0.426256
2  0.936896
3 -0.601107

In [129]:
df2=pd.concat([x,y],axis=1,join='outer')
df2

          0         1         2         3         4
0 -2.600547 -0.311205  0.204606 -1.516624 -1.392134
1  0.535800  0.636265 -0.830454 -0.670169  0.426256
2 -0.494944  2.097227  2.129522 -0.078934  0.936896
3  0.855270 -1.222177  1.347107 -0.215507 -0.601107

# Delete a Key-Value Pair in a Dictionary

To delete a key-value pair, we use the del statement:

In [130]:
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}

del my_dict["c"]

In [131]:
my_dict

{'a': 1, 'b': 2, 'd': 4}

# Dictionary Methods

In [132]:
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}

In [133]:
topping=input()
topping = my_dict.get(topping) if topping and topping.isalpha() else NOTHING

4

NameError: name 'NOTHING' is not defined

In [134]:
my_dict.get("c")

3

In [135]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [136]:
my_dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [137]:
my_dict.pop("d")

4

In [138]:
my_dict.popitem()

('c', 3)

In [139]:
my_dict.setdefault("a", 15)

1

In [140]:
my_dict
{'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [141]:
my_dict.setdefault("f", [2,3])

[2, 3]

In [142]:
my_dict

{'a': 1, 'b': 2, 'f': [2, 3]}

In [143]:
my_dict.update({"c": 3, "d": 4, "e": 5})

In [144]:
my_dict.values()

dict_values([1, 2, [2, 3], 3, 4, 5])

In [145]:
my_dict.clear()

In [146]:
my_dict

{}

# Python Operators

# Arithmetic Operators in Python

# Addition: +

In [147]:
5 + 6

0 + 6

3.4 + 5.7


"Hello" + ", " + "World"
'Hello, World'

True + False

1

# Subtraction: -

In [148]:
5 - 6

10 - 3

5 - 6

4.5 - 5.6 - 2.3

4.5 - 7

-7.8 - 6.2

-14.0

# Multiplication: *

In [149]:
5 * 6

6 * 7

10 * 100

4 * 0

3.4 *6.8

4 * (-6)

(-6) * (-8)

"Hello" * 4


"Hello" * 0

"Hello" * -1

''

In [150]:
'hello'*(-8)

''

# Exponentiation: **

In [151]:
6 ** 8

5 ** 2

4 ** 0

16 ** (1/2)

16 ** (0.5)

125 ** (1/3)

4.5 ** 2.3

3 ** (-1)

0.3333333333333333

# Division: /

In [152]:
25 / 5
5.0
3 / 6
0.5
0 / 5
0.0
2467 / 4673
0.52
1 / 2
0.5
4.5 / 3.5
1.28
6 / 7
0.85

-3 / -4
0.75

3 / -4
-0.75

-3 / 4
-0.75

-0.75

# Integer Division: //

In [153]:
5 // 6
0

8 // 2
4

-4 // -5
0

-5 // 8
-1

0 // 5
0

156773 // 356
440

440

# Modulo: %

In [154]:
1 % 5
1

2 % 5
2

3 % 5
3

4 % 5
4

5 % 5
0

5 % 8
5

3 % 1
0

15 % 3
0

17 % 8
1

2568 % 4
0

245 % 15
5

0 % 6
0

3.5 % 2.4
1.1

6.7 % -7.8
-1.0999999999999996

2.3 % 7.5
2.3

2.3

In [155]:
4/2

2.0

# Comparison Operators

In [156]:
5 > 6
False

10 > 8
True

8 > 8
False

8 >= 5
True

8 >= 8
True

5 < 6
True

10 < 8
False

8 < 8
False

8 <= 5
False

8 <= 8
True

8 <= 10
True

56 == 56
True

56 == 78
False

34 != 59
True

67 != 67
False

False

In [157]:
"Hello" > "World"
False

"Hello" >= "World"
False

"Hello" < "World"
True

"Hello" <= "World"
True

"Hello" == "World"
False

"Hello" != "World"
True

True

# Comparison Operator Chaining

In [158]:
a = 1
b = 2
c = 3

a < b < c
True

a > b > c
False

a <= b <= c
True

a >= b >= c
False

a >= b > c
False

a <= b < c
True

True

# Logical Operators

In [159]:
True and True
True

True and False
False

False and True
False

False and False
False

False

In [160]:
True or True
True

True or False
True

False or True
True
False or False
False

False

In [161]:
not True
False

not False
True

True

In [162]:
a = 6
b = 3

a < 6 or b > 2
True

a >= 3 and b >= 1
True

(a + b) == 9 and b > 1
True

((a % 3) < 2) and ((a + b) == 3)
False

False

# Assignment Operators

In [163]:
x = 3
x
3

x += 15 
x
18

x -= 2
x
16

x *= 2
x
32

x %= 5
x
2

x /= 1
x
2.0

x //= 2
x
1.0

x **= 5
x
1.0

1.0

In [164]:
a=[1,2,3,4,5,6]
product=1
for i in a:
    product*=i
print(product)

720

In [165]:
sum=0
for i in a:
    sum+=i
print(sum)

21

In [166]:
for i in a:
    print(i*i)

1
4
9
16
25
36

In [167]:
a=5

In [170]:
sum=0
for i in range(1,a+1):
    sum+=i
print(sum)

15

In [171]:
[x+x for x in range(1,7)]

[2, 4, 6, 8, 10, 12]

In [172]:
sum=0
for i in range(1,7):
    sum=sum+i
print(sum)

21

# Membership Operators

In [173]:
>>> 5 in [1, 2, 3, 4, 5]
True

>>> 8 in [1, 2, 3, 4, 5]
False

>>> 5 in (1, 2, 3, 4, 5)
True

8 in (1, 2, 3, 4, 5)
False

"a" in {"a": 1, "b": 2}
True

"c" in {"a": 1, "b": 2}
False

"h" in "Hello"
False

"H" in "Hello"
True


5 not in [1, 2, 3, 4, 5]
False

8 not in (1, 2, 3, 4, 5)
True

"a" not in {"a": 1, "b": 2}
False

"c" not in {"a": 1, "b": 2}
True

"h" not in "Hello"
True

"H" not in "Hello"
False

False

In [174]:
message = "Hello, World!"

"e" in message
True

True

# Conditionals in Python

In [175]:
x = 5

if x > 9:
    print("Hello, World!")
else:
    print('False')

False

In [176]:
color = "Blue"

if color == "Blue":
    print("This is my favorite color")
else:
    print('Black')

This is my favorite color

In [177]:
x = 5

if x>9:
    print("Hello!")
print("End")

End

In [178]:
x = 15

if x>9:
    print("Hello!")

print("End")

Hello!
End

In [179]:
favorite_season = "Winter"

if favorite_season == "Summer":
    print("That is my favorite season too!")
else:
    ('its not favorite sesson')

# if/else statements in Python

In [180]:
x = 15

if x > 9:
    print("Hello!")
else:
    print("Bye!")

print("End")

Hello!
End

In [181]:
x = 5

if x > 9:
    print("Hello!")
else:
    print("Bye!")

print("End")

Bye!
End

In [182]:
x = 5

if x < 9:
    print("Hello!")
elif x < 15:
    print("It's great to see you")
else:
    print("Bye!")

print("End")

Hello!
End

In [183]:
x = 13

if x < 9:
    print("Hello!")
elif x < 15:
    print("It's great to see you")
else:
    print("Bye!")

print("End")

It's great to see you
End

In [184]:
x = 25

if x < 9:
    print("Hello!")
elif x < 15:
    print("It's great to see you")
else:
    print("Bye!")

print("End")

Bye!
End

In [185]:
def season(favorite_season):
    
    if favorite_season == "winter":
        print("That is my favorite season too ")
    elif favorite_season == "summer":
        print("Summer is amazing for holiday vacation")
    elif favorite_season == "spring":
        print("I love spring")
    else:
        print("oho! its not my favorite season")
        
x=input("enter the session name: ")

season(x)

enter the session name: 4
oho! its not my favorite season

In [186]:
a=[[]]*3
a[1].append(7)
a

[[7], [7], [7]]

# For Loops in Python

for <loop_variable> in <iterable>:
    <code>

In [187]:
for j in range(1,11):
    print(j * 2,end=' ')

2 4 6 8 10 12 14 16 18 20

In [188]:
for num in range(8):
    print("Hello " * num)

Hello
Hello Hello
Hello Hello Hello
Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello

In [189]:
my_list = ["a", "b", "c", "d"]
for i in range(len(my_list)):
    print(i,'=',my_list[i])

0 = a
1 = b
2 = c
3 = d

In [190]:
for i in range(1,11):
    print(i*2,end=' ')

2 4 6 8 10 12 14 16 18 20

In [191]:
[i*2 for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [192]:
for j in range(2, 5):
    print("Python " * j)

Python Python
Python Python Python
Python Python Python Python

In [193]:
len(my_list)

4

In [194]:
my_list = ["a", "b", "c", "d"]

for i in range(2, len(my_list)):
    print(my_list[i])

c
d

In [195]:
my_list = ["a", "b", "c", "d"]

for i in range(2, len(my_list)-1):
    my_list[i] *= i
my_list

['a', 'b', 'cc', 'd']

In [196]:
for i in range(3, 16, 2):
    print(i,end=' ')

3 5 7 9 11 13 15

In [197]:
for j in range(10, 5,-1):
    print(j,end=' ')

10 9 8 7 6

In [198]:
my_list = ["a", "b", "c", "d", "e", "f", "g"]

for i in range(len(my_list)-1, 2, -1):
    print(my_list[i])

g
f
e
d

In [199]:
len(my_list)/2

3.5

In [200]:
lst=[]
for i in range(int(len(my_list)/2)):
    lst.append(my_list[i])
    lst.append(my_list[i+int(len(my_list)/2)])
lst

['a', 'd', 'b', 'e', 'c', 'f']

# How to Iterate over Iterables in Python
We can iterate directly over iterables such as lists, tuples, dictionaries, strings, and files using for loops. 
We will get each one of their elements one at a time per iteration. 
This is very helpful to work with them directly.

In [201]:
message = "Hello, World!"

for char in message:
    print(char,end=' ')

H e l l o ,   W o r l d !

In [202]:
word = "Hello"

for char in word.lower(): # calling the string method
    print(char)

h
e
l
l
o

# Iterate Over Lists and Tuples

In [203]:
 my_list = [2, 3, 4, 5]

for num in my_list:
    print(num)

2
3
4
5

In [204]:
my_list=(2, 3, 4, 5)

for num in my_list:
    if num % 2 == 0:
        print("Even",end=' ')
    else:
        print("Odd",end=' ')

Even Odd Even Odd

# Iterate Over the Keys, Values, and Key-Value Pairs of Dictionaries

for <var> in <dictionary_variable>:
    <code>

In [205]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key,value in my_dict.items():
    print(key,'-->',value)

a --> 1
b --> 2
c --> 3

for <var> in <dictionary_variable>.values():
    <code>

In [206]:
my_dict = {"a": 1, "b": 2, "c": 3}

for value in my_dict.values():
    print(value)

1
2
3

for <key>, <value> in <dictionary_variable>.items():
    <code>

In [207]:
for key,value in my_dict.items():
    print(key,'=',value)

a = 1
b = 2
c = 3

In [208]:
my_dict = {"a": [1,2,3,4], "b": 2, "c": 3}

for pair in my_dict.items():
    print(pair)

('a', [1, 2, 3, 4])
('b', 2)
('c', 3)

# Break and Continue in Python

In [209]:
my_list = [1, 2, 3, 4, 5]

for elem in my_list:
    if elem % 2 == 0:
        print("\nEven:", elem,end='')
        print("\nbreak")
        break
    else:
        print("Odd:", elem,end='')

Odd: 1
Even: 2
break

# The Continue Statement

In [210]:
 my_list = [1, 2, 3, 4, 5]

for elem in my_list:
    if elem % 2 == 0:
        print("continue")
        continue
    print("Odd:", elem)
else:
    print("skip current values and continues")

Odd: 1
continue
Odd: 3
continue
Odd: 5
skip current values and continues

# The zip() function in Python

In [211]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8,9,8,4]
list3=[]
for elem1, elem2 in zip(list1,list2):
    list3.append(elem1+elem2)
print(list3)

[6, 8, 10, 12]

In [212]:
a=list1+list2
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 4]

In [213]:
z=zip(list1,list2)
output=[]
for i,j in z:
    output.append(i+j)
print(output)

[6, 8, 10, 12]

In [214]:
z=zip(list1,list2)
for i,j in z:
    print(i*j,end=' ')

5 12 21 32

In [215]:
list(map(lambda x,y:x*y,list1,list2))

[5, 12, 21, 32]

In [216]:
lst3=[]
for i,j in zip(list1,list2):
    lst3.append(i+j)
print(lst3)

[6, 8, 10, 12]

In [217]:
list1

[1, 2, 3, 4]

In [218]:
from functools import reduce
result=reduce(lambda x,y:x+y,list1)
result

10

In [219]:
lst3=list(map(lambda x,y:x+y,list1,list2))
lst3

[6, 8, 10, 12]

In [220]:
list(zip(list1,list2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [221]:
for i in list1:
    print(i)

1
2
3
4

# The enumerate() Function in Python
You can also keep track of a counter while the loop runs with the enum() function. 
It is commonly used to iterate over a sequence and get the corresponding index.

In [222]:
my_list=[5, 6, 7, 8]
for i,elem in enumerate(my_list):
    print(i, elem)

0 5
1 6
2 7
3 8

In [223]:
word="Hello"

for i, char in enumerate(word):
    print(i, char)

0 H
1 e
2 l
3 l
4 o

In [224]:
my_list = [5, 6, 7, 8]

for index, num in enumerate(my_list):
    my_list[index] = num * 3
my_list

[15, 18, 21, 24]

In [225]:
word = "Hello"

for i, char in enumerate(word):
    print(i, char)

0 H
1 e
2 l
3 l
4 o

In [226]:
my_list = [1, 2, 3, 4, 5]

for elem in my_list:
    if elem > 6:
        print("Found")
        break
else:
    print("Not Found")

Not Found

In [227]:
my_list = [1, 2, 3, 4, 5, 8] # Now the list has the value 8

for elem in my_list:
    if elem > 6:
        print("Found")
        break
else:
    print("Not Found")

Found

# While Loops in Python

while <condition>:
    <code>

In [228]:
x = 6

while x < 15:
    print(x)
    x += 1

6
7
8
9
10
11
12
13
14

In [229]:
x=4
while x>=0:
    print("H" * x)
    x-= 1

HHHH
HHH
HH
H

In [230]:
num = 5
while num >=0:
    print("*" * num)
    num-= 1

*****
****
***
**
*

In [231]:
num=1
while num>=0:
    print('*' * num)
    num+=1
    if num==6:
        break

*
**
***
****
*****

In [232]:
num = 1
while num>= 1:
    print("*" * num)
    num+= 1
    if num==6:
        break

*
**
***
****
*****

In [233]:
num="123"
l=[]
sum=0
for i in num:
    l.append(i)
# for a in l:
#     sum+=int(a)
# print(sum)
print(l)

['1', '2', '3']

In [234]:
sum=0
for i in l:
    sum+=int(i)

In [235]:
sum

6

In [236]:
a='153'
sum=0
for i in  a:
    sum+=int(i)
print(sum)

9

In [237]:
a=153
b=a%10
a=153//10
c=a%10
a=a//10
d=a%10
z=b+c+a
z

9

In [238]:
153%10

3

In [239]:
153//10

15

In [240]:
type(sum)

int

In [241]:
a='0123'
b=int(a[::-1])
type(b)

int

In [242]:
l

['1', '2', '3']

In [243]:
int(''.join(reversed(a)))

3210

# Break and Continue

In [244]:
x = 5

while x < 15:
    if x % 2 == 0:
        print("Even:", x)
        break
    print(x)
    x += 1

5
Even: 6

In [245]:
 x = 5

while x < 15:
    if x % 2 == 0:
        x += 1
        continue
    print("Odd:", x)
    x += 1

Odd: 5
Odd: 7
Odd: 9
Odd: 11
Odd: 13

In [246]:
x = 5

while x < 15:
    if x % 2 == 0:
        print("Even number found")
        break
    print(x)
    x += 2
else:
    print("All numbers were odd")

5
7
9
11
13
All numbers were odd

# Nested Loops in Python

In [247]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [248]:
num_rows =int(input("Enter the range : "))

for i in range(num_rows):
    for num_cols in range(num_rows-1):
        print("*", end=" ")
    print()

Enter the range :

ValueError: invalid literal for int() with base 10: ''

# Functions in Python

# Function with One Parameter in Python

In [249]:
def welcome_student(name,subject):
    print(f"Hi, {name}! Welcome to {subject} class.")
welcome_student('amarendra','Python')

Hi, amarendra! Welcome to Python class.

In [250]:
def print_pattern(num_rows):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print("*",end=' ')
        print()
print_pattern(4)

* * * *
* * *
* *
*

In [251]:
x=4
while x>0:
    print('*' * x)
    x-=1

****
***
**
*

In [252]:
def print_pattern(num_rows,char):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print(char, end=" ")
        print()
print_pattern(5,'A')

A A A A A
A A A A
A A A
A A
A

In [253]:
for i in range(5):
    print(i)

0
1
2
3
4

In [254]:
def get_rectangle_area(length, width):
    return length * width
get_rectangle_area(5,4)

20

# Default Arguments in Python

In [255]:
def print_product(a, b=5):
    print(a * b)
print_product(4)

20

# Recursion in Python

In [256]:
def factorials(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorials(n-1)
factorials(5)

120

In [257]:
def fibonacci(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
fibonacci(5)

8

In [258]:
def find_power(a, b):
    if b == 0:
        return 1
    else:
        return a * find_power(a, b-1)
find_power(2,3)

8

# Exception Handling in Python
An error or unexpected event that that occurs while a program is running is called an exception.
Thanks to the elements that we will see in just a moment, we can avoid terminating the program abruptly when this occurs.

In [259]:
#ZeroDivisionError: raised when the second argument of a division or modulo operation is zero.

5 / 0

ZeroDivisionError: division by zero

In [260]:
#IndexError: raised when we try to use an invalid index to access an element of a sequence.

my_list = [3, 4, 5, 6]
my_list[15]

IndexError: list index out of range

In [261]:
#KeyError: raised when we try to access a key-value pair that doesn't exist because the key is not in the dictionary.
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict["d"]

KeyError: 'd'

In [262]:
#NameError: raised when we use a variable that has not been defined previously.
b

3210

In [263]:
#RecursionError: raised when the interpreter detects that the maximum recursion depth is exceeded. 
#This usually occurs when the process never reaches the base case.
def factorial(n):
        if n == 0 or n == 1:
            return 1
        else:
            return n * factorial(n-1)
factorial(5)

120

# try / except in Python

try:
    <code_that_may_raise_an_exception>
except:
    <code_to_handle_the_exception_if_it_occurs>

In [264]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(list(map(lambda x:"Hello"+str(x),my_list)))
except:
    print("Please enter a valid index.")

Enter the index:

ValueError: invalid literal for int() with base 10: ''

In [265]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

try:
    division = a / b
    print(division)
except:
    print("Please enter valid values.")
else:
    print("its possible")
finally:
    multi=a*b
    print('finally results : ',multi)

Enter a:

ValueError: invalid literal for int() with base 10: ''

# How to Catch a Specific Type of Exception in Python

try:
    <code_that_may_raise_an_exception>
except <exception_type>:
    <code_to_handle_an_exception_if_it_occurs>

In [266]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError: # specify the type
    print("Please enter a valid index.")

Enter the index:

ValueError: invalid literal for int() with base 10: ''

In [267]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

try:
    division = a / b
    print(division)
except ZeroDivisionError: # specify the type
    print("Please enter valid values.")

Enter a:

ValueError: invalid literal for int() with base 10: ''

# How to Assign a Name to the Exception Object in Python

try:
    <code_that_may_raise_an_exception>
except <exception_type> as <name>:
    <code_to_handle_an_exception_if_it_occurs>

In [268]:
index = int(input("Enter the index: "))

try:
    my_list = [1, 2, 3, 4]
    print(my_list[index])
except IndexError as e:
    print("Exception raised:", e)

Enter the index:

ValueError: invalid literal for int() with base 10: ''

In [269]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

try:
    division = a / b
    print(division)
except ZeroDivisionError as err:
    print("Please enter valid values:", err)

Enter a:

ValueError: invalid literal for int() with base 10: ''

# try / except / else in Python

try:
    <code_that_may_raise_an_exception>
except:
    <code_to_handle_an_exception_if_it_occurs>
else:
    <code_that_only_runs_if_no_exception_in_try>

In [270]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

try:
    division = a / b
    print(division)
except ZeroDivisionError as err:
    print("Please enter valid values.", err)
else:
    print("Both values were valid.")

Enter a:

ValueError: invalid literal for int() with base 10: ''

In [271]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

try:
    division = a / b
    print(division)
except ZeroDivisionError as err:
    print("Please enter valid values.", err)
else:
    print("Both values were valid.")
finally:
    print("Finally!")

Enter a:

ValueError: invalid literal for int() with base 10: ''

# Object-Oriented Programming in Python

def __init__(self, <parameter1>, <parameter2>, ...):
        self.<attribute1> = <parameter1>  # Instance attribute
        self.<attribute2> = <parameter2>  # Instance attribute

In [272]:
# Class definition
class Dog:

    def __init__(self, name, age):
        self.name = name
        self.age = age
# Create instance  
my_dog = Dog("Nora", 10)

# Get attributes
my_dog.name
my_dog.age

10

# How to Update an Instance Attribute

<object_variable>.<attribute> = <new_value>

In [273]:
class Dog:

    def __init__(self,name,age):
        self.name=name
        self.age=age
my_dog = Dog("Nora", 10)

my_dog.name

'Nora'

In [274]:
# Update the attribute
my_dog.name = "Norita"

my_dog.name

'Norita'

# How to Remove an Instance Attribute

del <object_variable>.<attribute>

In [275]:
# Delete this attribute
del my_dog.name

my_dog.name

AttributeError: 'Dog' object has no attribute 'name'

In [276]:
# Delete the instance
del my_dog
my_dog

NameError: name 'my_dog' is not defined

# Public vs. Non-Public Attributes in Python

In [277]:
class Dog:
     # Class attributes
    kingdom = "Animalia"
    species = "Canis lupus"

    def __init__(self, name, age):
        self.name = name  # Public attribute
        self._age = age   # Non-Public attribute

In [278]:
#How to Get a Class Attribute    <class_name>.<attribute>
Dog.kingdom

'Animalia'

In [279]:
#How to Update a Class Attribute    <class_name>.<attribute> = <value>
Dog.kingdom

'Animalia'

In [280]:
Dog.kingdom = "New Kingdom"
Dog.kingdom

'New Kingdom'

In [281]:
## How to Delete a Class Attribute  
# Delete class attribute
del Dog.kingdom
Dog.kingdom

AttributeError: type object 'Dog' has no attribute 'kingdom'

# How to Define Methods

 Tip: Instance methods can work with the attributes of the instance that is calling the method
        if we write self.<attribute> in the method definition.

In [282]:
class Dog:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return "woof_woof. I am :%s \nand age is :%d"/(self.name,self.age)
#         return str("name: "+self.name)+' '+str(self.age)
#         return(f"woof_woof. I'm {self.name} and age is {self.age}")

        
# Create the instance
my_dog = Dog("Nora", 10)


# Call the method
my_dog.bark()

TypeError: unsupported operand type(s) for /: 'str' and 'tuple'

In [283]:
class Player:

    def __init__(self, name):
        self.name=name
        self.speed=50

    def increment_speed(self,value):
        self.speed += value

In [284]:
# Create instance        
my_player = Player("Nora")

# Check initial speed to see the change
my_player.speed

50

In [285]:
# Increment the speed
my_player.increment_speed(5)

# Confirm the change
my_player.speed

55

# Properties, Getters and Setters in Python
Getters and setters are methods that we can define to get and set the value of an instance attribute, respectively. 
They work as intermediaries to "protect" the attributes from direct changes.

@property
def <property_name>(self):
    return self.<attribute>

# Defined setter method

@<property_name>.setter
def <property_name>(self, <param>):
    self.<attribute> = <param>

#delete the attribute:

@<property_name>.deleter
def <property_name>(self):
    del self.<attribute>

In [286]:
class Dog:

    def __init__(self, name):
        self._name = name

    @property
    def name(self):
        print("Calling getter")
        return self._name

    @name.setter
    def name(self, new_name):
        print("Calling setter")
        self._name = new_name

    @name.deleter
    def name(self):
        print("Calling deleter")
        del self._name

        
my_dog = Dog("Nora")
my_dog.name

Calling getter

'Nora'

In [287]:
my_dog.name = "Norita"
my_dog.name

Calling setter
Calling getter

'Norita'

In [288]:
del my_dog.name

Calling deleter

# How to Work with Files in Python

# How to Read Files in Python
In Python, it's recommended to use a with statement to work with files because it opens them only while we need them and it closes them automatically when the process is completed.

# To read a file, we use this syntax:
with open("<file_path>") as <file_var>:
    <code>

# We can also specify that we want to open the file in read mode with an "r":
with open("<file_path>", "r") as <file_var>:
    <code>

In [289]:
with open("famous_quotes.txt",'w') as file:
    for line in file:
        print(line)

UnsupportedOperation: not readable

In [290]:
with open("famous_quotes.txt", "r") as file:
    for line in file:
        print(line)

# How to Write to a File in Python

with open("<file_path>", "w") as <file_var>:
    <code>

In [291]:
words = ["Amazing", "Green", "Python", "Code"]

with open("famous_quotes.txt", "w") as file:
    for word in words:
        file.write(word + "\n")
    print(file)

<_io.TextIOWrapper name='famous_quotes.txt' mode='w' encoding='cp1252'>

# How to Append to a File in Python

In [292]:
words = ["Amazing", "Green", "Python", "Code"]

with open("famous_quotes.txt", "a") as file:
    for word in words:
        file.write(word + "\n")

# How to Delete a File in Python
To delete a file with our script, we can use the os module. It is recommended to check with a conditional 
if the file exists before calling the remove() function from this module:

In [293]:
import os

if os.path.exists("famous_quotes.txt"):
  os.remove("famous_quotes.txt")
else:
  print("This file doesn't exist")

In [294]:
if os.path.exists('amar.txt'):
    os.remove('amar.txt')
else:
    print('this file does not exists')

this file does not exists

In [295]:
import math as m
m.sqrt(25)
5.0

5.0

In [296]:
from math import sqrt

In [297]:
from math import sqrt
sqrt(25)
5.0

5.0

In [298]:
from math import *

sqrt(25)
5.0

factorial(5)
120

floor(4.6)
4

gcd(5, 8)
1

1

In [299]:
2**3

8

# List Comprehension in Python

In [300]:
[i for i in range(4, 15)]
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

[chr(i) for i in range(67, 80)]
['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

[i**3 for i in range(2, 5)]
[8, 27, 64]

[i + j for i in range(4, 8) for j in range(3, 7)]
[8, 9, 10, 9, 10, 11, 10, 11, 12]

[k for k in range(3, 35) if k % 2 == 0]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

[i * j for i in range(2, 6) for j in range(3, 7) if i % j == 0]
[9, 16, 25]

[9, 16, 25]

# Dictionary Comprehension in Python

In [301]:
{num: num**3 for num in range(3, 15)}
{3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744}

{x: x + y for x in range(4, 8) for y in range(3, 7)}
{4: 10, 5: 11, 6: 12, 7: 13}

{4: 10, 5: 11, 6: 12, 7: 13}

In [302]:
[x + y for x in range(4, 8) for y in range(3, 7)]

[7, 8, 9, 10, 8, 9, 10, 11, 9, 10, 11, 12, 10, 11, 12, 13]

In [303]:
~(-2)

1

In [304]:
#operator overriding 
class A:
    def __init__(self,a):
        self.a=a
    def __add__(self,other):
        return self.a+other.a
obj1=A(2)
obj2=A(3)
print(A.__add__(obj1,obj2))

5

In [305]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.rand(4,5),columns=list("asdfg"))
df

          a         s         d         f         g
0  0.146897  0.748917  0.111546  0.117809  0.279830
1  0.094679  0.503391  0.148039  0.443910  0.245458
2  0.767319  0.910110  0.556176  0.442891  0.310637
3  0.655364  0.755623  0.697828  0.098640  0.032405

In [306]:
l1=df['a'][:2]
l1

0    0.146897
1    0.094679
Name: a, dtype: float64

In [307]:
output=[]
for i in l1:
    output.append(i)
output

[0.14689710528850863, 0.09467856333507285]

In [308]:
pd.Series(df['a'][:2],index=None)

0    0.146897
1    0.094679
Name: a, dtype: float64

In [309]:
output.extend([3,4,5])
o=output
o

[0.14689710528850863, 0.09467856333507285, 3, 4, 5]

In [6]:
date=pd.date_range('11/21/2023',periods=5)
order_st=[1,2,3,4,5]
df1=pd.DataFrame({'date':date,'id':o,'order_stats':order_st},columns=['date','id','order_stats'])
df1

        date        id  order_stats
0 2023-11-21  0.888699            1
1 2023-11-22  0.104441            2
2 2023-11-23  3.000000            3
3 2023-11-24  4.000000            4
4 2023-11-25  5.000000            5