In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
range(8)

range(0, 8)

In [4]:
class Mobile:
    def __init__(self):
        self.model='Realme'
    def show_model(self):
        print(f"my mobile company name is the {self.model}.")
obj=Mobile()
obj.show_model()

my mobile company name is the Realme.

In [5]:
dates=pd.date_range('3/5/2023',periods=(5))
ts=pd.Series(np.arange(5),index=dates)
ts.to_csv('tseries.csv')

In [6]:
from numpy.random import randn as rn   # randn is normal distribution and rand is uniform distribution 
df=pd.DataFrame(rn(5,4),index=list('ABCDE'),columns=list('WXYZ'))
df

          W         X         Y         Z
A -0.187821 -0.795187  0.740953  0.062699
B  0.228259 -0.413638  2.185542  0.950796
C  0.677916 -1.427295  1.086126  1.047001
D -0.029046 -0.667710  0.377074 -2.406202
E  2.350885 -0.016288 -1.608841  0.072304

In [7]:
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
from word2number import w2n

In [9]:
print('welcome to data science course')

welcome to data science course

In [10]:
str1='amarendra kumar'
''.join(reversed(str1))

'ramuk ardnerama'

In [11]:
str1[::-1]

'ramuk ardnerama'

In [12]:
# keyword variable lenght argument
def add(**num):
    z=num['a']+num['b']+num['c']
    return z
add(a=2,b=3,c=4)

9

In [13]:
# variable lenght argument
def add(*num):
    z=num[0]+num[1]+num[2]
    return z
add(2,3,4)

9

In [14]:
str1='amarendra'
str1[::-1]

'ardnerama'

In [15]:
str1='amarendra kumar'
temp=str1.split()
output=[]
for i in temp:
    output.append(i[::-1])
print(output)

['ardnerama', 'ramuk']

In [16]:
temp

['amarendra', 'kumar']

In [17]:
str2='amarendra kumar kushwaha'
temp=str2.split()
output=[]
for i in temp:
    print(i[::-1],end=' ')
#     output.append(i[::-1])
# print(output)

ardnerama ramuk ahawhsuk

In [18]:
print(temp)

['amarendra', 'kumar', 'kushwaha']

In [19]:
print(temp[::-1])

['kushwaha', 'kumar', 'amarendra']

In [20]:
''.join(reversed(str1))

'ramuk ardnerama'

In [21]:
num='01020304'
new_num=int(''.join(reversed(num)))
print(new_num)

40302010

In [22]:
int(num[::-1])

40302010

In [23]:
num=1020304 
rev=0
while num>0:
    a=num%10
    rev=rev*10+a
    num=num//10
print(rev)

4030201

In [24]:
num=1020304 
num%10

4

In [25]:
str1.strip()

'amarendra kumar'

In [26]:
str1.lstrip('a')

'marendra kumar'

In [27]:
str1.rstrip('r')

'amarendra kuma'

In [28]:
str2='data science'

In [29]:
''.join(reversed(str2))

'ecneics atad'

In [30]:
str2[::-1]

'ecneics atad'

# Range
> range function is generate the sequence of integer by default start with 0 and till 1-n may be -ve and +ve (0 to last numbers)

In [38]:
for i in range(2,-10):
    print(i)

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [41]:
## reverse
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [42]:
l=[3,4,5,6,7,8,25,4,5,5]
for i in range(len(l)):
    print(i%2==0,'=',l[i])

True = 3
False = 4
True = 5
False = 6
True = 7
False = 8
True = 25
False = 4
True = 5
False = 5

In [43]:
l.insert(10,'amarendra')
l.insert(11,'kumar')

In [44]:
l.pop()

'kumar'

In [45]:
l

[3, 4, 5, 6, 7, 8, 25, 4, 5, 5, 'amarendra']

In [46]:
t=[]
t2=[]
for i in l:
    if type(i)==str:
        t.append(i)
    else:
        t2.append(i)
print('t: ',t)
print('t2: ',t2)

t:  ['amarendra']
t2:  [3, 4, 5, 6, 7, 8, 25, 4, 5, 5]

In [47]:
## sumation of data 1 to 10 natural numbers
def naturals_numbers(n):
    sum=0
    i=0
    while (n>=i):
        sum+=i
        i+=1
    print(sum)
naturals_numbers(10)

55

In [48]:
def naturals(n):
    sum=0
    for i in range(n+1):
        sum+=i
    print(sum)
naturals(10)

55

In [49]:
lst=[1,2,3,4,5]
sum(lst)

15

In [50]:
sum=0
for i in lst:
    sum+=i
print(sum)

15

# break

In [51]:
for x in 'amarendra':
    if x=='n':
        break
    print(x)
else:
    print('yes i am able to complete iteration')
print('out of loop')

a
m
a
r
e
out of loop

# continue
> immediate the control the for loop and after the continue

In [52]:
for i in 'amarendra':
    if i=='n':
        continue
    print(i)
else:
    print('hello amarendra kumar')

a
m
a
r
e
d
r
a
hello amarendra kumar

# input
> input function is always return the integer,

In [53]:
a=input()

In [54]:
type(a)

str

In [55]:
b=int(input())

ValueError: invalid literal for int() with base 10: ''

In [56]:
type(b)

NameError: name 'b' is not defined

In [58]:
a=int(input('insert only an integer : '))
print('integer inserted')
l1=[1,2,3,5,6,7,5,5,5,6,7,8,9,9]
m=[]
for i in l1:
    if i==a:
        m.append(i)
print(m)

insert only an integer : 2
integer inserted
[2]

In [59]:
m=[]
for i in l:
    m.append(str(i)+str(2))
print(m)

['32', '42', '52', '62', '72', '82', '252', '42', '52', '52', 'amarendra2']

In [60]:
l

[3, 4, 5, 6, 7, 8, 25, 4, 5, 5, 'amarendra']

In [61]:
list(map(lambda x:str(x)+str(2),l))

['32', '42', '52', '62', '72', '82', '252', '42', '52', '52', 'amarendra2']

In [62]:
for i in range(len(l)):
    print(i,'=',l[i])

0 = 3
1 = 4
2 = 5
3 = 6
4 = 7
5 = 8
6 = 25
7 = 4
8 = 5
9 = 5
10 = amarendra

In [63]:
a=[]
for i in l:
    if str(i)>=str(5):
        a.append(i)
print(a)

[5, 6, 7, 8, 5, 5, 'amarendra']

In [64]:
s=10
if s==10:
    print('yes it is lesser than 10')
    if type(s)==int:
        print('yes my data is integer')
    elif type(s)==str:
        print("my data is string")
    else:
        print('my data is non of above')
elif s==50:
    print("yes this data is less than 50")
elif s==40:
    print("yes s is ==40")
else:
    print('non of the condition is true')

yes it is lesser than 10
yes my data is integer

# concatation
> data type is always same

In [65]:
1+1

2

In [66]:
'amar'+ str(1)

'amar1'

In [67]:
[1,2,3]+['amar']

[1, 2, 3, 'amar']

# string
> string i collection of charectors, immutable con not be change

In [68]:
name='amarendra kumar kushwaha'
vowels='aeiouAEIOU'
count_vowel =0
for letter in name:
    if letter in vowels:
        count_vowel+= 1
print(count_vowel)

9

In [69]:
# count the no of vowels
name='amarendra kumar kushwaha'
vowels='aeiouAEIOU'
vo_list=[]
i=0
while i<len(name):
    if name[i] in vowels:
        vo_list.append(name[i])
    i+=1
print(len(vo_list))

9

In [70]:
from collections import Counter

In [71]:
def count_and_display_vowels(string):
    vowels='aeiouAEIOU'
    vowels_list=filter(lambda x: x in vowels,string)
    count_vowels=dict(Counter(vowels_list))
    
    cons_list=filter(lambda x: x not in vowels ,string)
    count_cons=dict(Counter(cons_list))
    return count_vowels,count_cons
string='Amarendra Kumar'
count_and_display_vowels(string)

({'A': 1, 'a': 3, 'e': 1, 'u': 1},
 {'m': 2, 'r': 3, 'n': 1, 'd': 1, ' ': 1, 'K': 1})

In [73]:
def palindrom(s):
    return s==s[::-1]
s=input('enter the string : ')
sd=palindrom(s)
if sd:
    print('its Palindrom')
else:
    print('its not palindrom')

enter the string : asd
its not palindrom

In [74]:
def counts_vowels(string):
    vowels='aeiouAEIOU'
    vowels_list=filter(lambda x: x in vowels, string)
    count_vowels=dict(Counter(vowels_list))
    return count_vowels
string='Amarendra kumar'
counts_vowels(string)
# print(counts_vowels)

{'A': 1, 'a': 3, 'e': 1, 'u': 1}

In [75]:
str1='Amarendra Kumar Kushwaha and Raju Kumar Kushwaha'
dct={}
dct1={}
vowels='AEIOUaeiou'
for i in str1.lower():
    if i in vowels:
        if i in dct:
            dct[i]+=1
        else:
            dct[i]=1
    else:
        if i in dct1:
            dct1[i]+=1
        else:
            dct1[i]=1
print("consonent_list",dct1)
print("vowels_list",dct)

consonent_list {'m': 3, 'r': 5, 'n': 2, 'd': 2, ' ': 6, 'k': 4, 's': 2, 'h': 4, 'w': 2, 'j': 1}
vowels_list {'a': 11, 'e': 1, 'u': 5}

In [65]:
dct={}
for i in str1.split():
    if i in dct:
        dct[i]+=1
    else:
        dct[i]=1
print(dct)

{'Amarendra': 1, 'Kumar': 2, 'Kushwaha': 2, 'and': 1, 'Raju': 1}

In [66]:
s='amare'

In [67]:
type(s)

str

In [68]:
s*5

'amareamareamareamareamare'

In [69]:
[1,12,3,'amar']*3

[1, 12, 3, 'amar', 1, 12, 3, 'amar', 1, 12, 3, 'amar']

In [70]:
s.upper()

'AMARE'

In [71]:
s.lower()

'amare'

In [72]:
a='my name is amarendra kumar kushwaha'

In [73]:
## split is always return list
temp=a.split()   
for i in temp:
    print(i,end=' ')

my name is amarendra kumar kushwaha

In [74]:
b='my@name@is@amarendra@kumar@kushwaha'
b.split('@')

['my', 'name', 'is', 'amarendra', 'kumar', 'kushwaha']

In [75]:
c='my#name@is@amarendra@kumar@kushwaha'
c.split('#')

['my', 'name@is@amarendra@kumar@kushwaha']

In [76]:
d='dfghtdxasdfgtadad'
d.split('a')       ## split at a letter no of  a  in side string

['dfghtdx', 'sdfgt', 'd', 'd']

In [77]:
e='dfredgrdGfcvgfg'
e.partition('G')     ##  patition is always gives the 3 numbers arg , and return tuple

('dfredgrd', 'G', 'fcvgfg')

In [78]:
f='hytrdcfdhesvtgfc'
f.find('e')        ## in that case return first accurance of arg index.

9

In [79]:
f.find('z')   ## not find out charector in the string

-1

In [80]:
g=' amarendra '
g.center(50,'#')   ## 50 is width in that case string is in the center

'################### amarendra ####################'

In [81]:
'amarendra\tkumar'.split('\t')  ## return list

['amarendra', 'kumar']

In [82]:
'amarendra\tkumar'.expandtabs()   ## in that case return data

'amarendra       kumar'

In [83]:
'my name is {} kumar'.format('amarendra')

'my name is amarendra kumar'

In [84]:
a=input('please give your name : ')
b=input('please give me your last name : ')
print('Hello ! My name is {} {}'.format(a,b))

please give your name :
please give me your last name :
Hello ! My name is

# list
> collection of element , mutable, can be modified  represented []

In [85]:
a=[1,2,3,4,5,'hello','amar',4,56,[3,4,5]]
b=[4,5,7,8,'my','name']

In [86]:
m=[]
for i in a:
    m.append(i)

In [87]:
m

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5]]

In [88]:
a+b

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5], 4, 5, 7, 8, 'my', 'name']

In [89]:
(a+b)*1

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5], 4, 5, 7, 8, 'my', 'name']

In [90]:
type(b)

list

In [91]:
b.append('df')   ## add the data in the  list at last but insert need index position

In [92]:
b

[4, 5, 7, 8, 'my', 'name', 'df']

In [93]:
b.pop()

'df'

In [94]:
b[::-1]   ## never change parmanently

['name', 'my', 8, 7, 5, 4]

In [95]:
b

[4, 5, 7, 8, 'my', 'name']

In [96]:
b.reverse()    ## chnage parmanently

In [97]:
b

['name', 'my', 8, 7, 5, 4]

In [98]:
b.sort() ## this is not supported between int and str

TypeError: '<' not supported between instances of 'int' and 'str'

In [99]:
c=[1,6,43,22,2]

In [100]:
c.sort()

In [101]:
c

[1, 2, 6, 22, 43]

In [102]:
d=['asd','sdfrd','ytred']

In [103]:
d

['asd', 'sdfrd', 'ytred']

In [104]:
d.sort()

In [105]:
x=[1,2,3,4,5]
y=[4,5,6,7,8,9]
z=[5,5,9,3,2,2]
w=[x,y,z]
w

[[1, 2, 3, 4, 5], [4, 5, 6, 7, 8, 9], [5, 5, 9, 3, 2, 2]]

In [106]:
list(map(lambda a,s :a+s,x,y))

[5, 7, 9, 11, 13]

In [107]:
w[-1][::2]

[5, 9, 2]

In [108]:
w

[[1, 2, 3, 4, 5], [4, 5, 6, 7, 8, 9], [5, 5, 9, 3, 2, 2]]

In [109]:
w[::-1]

[[5, 5, 9, 3, 2, 2], [4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5]]

In [110]:
m=[]
w=w[::-1]
for i in w:
    m.append(i[::-1])
print(m)

[[2, 2, 3, 9, 5, 5], [9, 8, 7, 6, 5, 4], [5, 4, 3, 2, 1]]

In [111]:
str2='amarendra kumar kushwaha'
# str2=str2[::-1]
for i in str2[::-1]:
    print(i,end='')

ahawhsuk ramuk ardnerama

In [112]:
str2

'amarendra kumar kushwaha'

In [113]:
str1='amarendra kumar kushwaha'
''.join(reversed(str1))

'ahawhsuk ramuk ardnerama'

In [114]:
str2[::-1]

'ahawhsuk ramuk ardnerama'

In [115]:
w

[[5, 5, 9, 3, 2, 2], [4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5]]

In [116]:
m

[[2, 2, 3, 9, 5, 5], [9, 8, 7, 6, 5, 4], [5, 4, 3, 2, 1]]

# list comprehension
> reduce the no of code

In [117]:
n=[]
for i in m:
    n.append(i[2]*2)
print(n)

[6, 14, 6]

In [118]:
n

[6, 14, 6]

In [119]:
[i[2]*2 for i in m]

[6, 14, 6]

In [120]:
a

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5]]

In [121]:
b

['name', 'my', 8, 7, 5, 4]

In [122]:
a.extend(b)

In [123]:
a

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5], 'name', 'my', 8, 7, 5, 4]

In [124]:
a

[1, 2, 3, 4, 5, 'hello', 'amar', 4, 56, [3, 4, 5], 'name', 'my', 8, 7, 5, 4]

In [125]:
b

['name', 'my', 8, 7, 5, 4]

In [126]:
c=list(zip(a,b))    ##  zip function always return same index values in form of tuple
c

[(1, 'name'), (2, 'my'), (3, 8), (4, 7), (5, 5), ('hello', 4)]

# Tuple()
> collection diiffernt differen element but can not be modified, immutalbe, but modified with slicing

In [127]:
t=(1,2,3,4,5,'amar')

In [128]:
t

(1, 2, 3, 4, 5, 'amar')

In [129]:
type(t)

tuple

In [130]:
t1=(4,3,2,8,6,5,5)
t1

(4, 3, 2, 8, 6, 5, 5)

In [131]:
a=t[0:4]
a

(1, 2, 3, 4)

In [132]:
b=t1[2:5]
t1

(4, 3, 2, 8, 6, 5, 5)

In [133]:
c=a+b     ## add in form of tuple not allowed duplicate element
c

(1, 2, 3, 4, 2, 8, 6)

In [134]:
d=list(zip(a,b))
d

[(1, 2), (2, 8), (3, 6)]

In [135]:
t[0]

1

In [136]:
t1[0]

4

In [137]:
t2=('amarendra',)
t2

('amarendra',)

In [138]:
type(t2)

tuple

In [139]:
t2[0]

'amarendra'

In [140]:
t1

(4, 3, 2, 8, 6, 5, 5)

In [141]:
for i in t1:
    print(i)

4
3
2
8
6
5
5

In [142]:
l1=[1,2,3,4]
for i in l1:
    print(l1)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

# set{}
> duplicate element are not allowed only print unique , slice are not allowed, never return sorted dataset

# Dict{}

In [143]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Function
>> functions is reusebility

In [144]:
def test():
    a=5
    b=2
    print("this the my first funtions",a+b)
test()

this the my first funtions 7

In [145]:
def is_num(num):
    for i in range(2,num):   ## 2 is staring num and goes to num
        if num%i==0:
            return 'its not prime numbers'
             #print('this numbers is not a prime numbers')
            #break
        else:
            return 'its prime numbers'
            #print('this numbers is a prime numbers ')
is_num(17)

'its prime numbers'

In [146]:
def is_palindrom(str1):
    return str1==str1[::-1]
str1='malayalam'
ans=is_palindrom(str1)
if ans:
    print('yes , its palindrom numbers')
else:
    print('not, its not palindrom numbers')

yes , its palindrom numbers

In [147]:
def gencube(n):
    for i in range(1,n):
        print(i**3)
gencube(10)

1
8
27
64
125
216
343
512
729

In [148]:
def gencube(n):
    for i in range(n):
        yield i**3       ## generator operator not get directely data we apply next function
gencube(10)

In [149]:
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b
obj=genfi(10)
print(next(obj))
print(next(obj))
print(next(obj))

1
1
2

In [150]:
for i in obj:
    print(i,end=' ')

3 5 8 13 21 34 55

In [151]:
def genfi(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a) 
        a,b=b,a+b
    print(output)
genfi(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [152]:
def square(n):
    return n**2
square(4)

16

In [153]:
l=[3,4,5,6,7,8,9,9]
n=[]
for i in l:
    if i%3==0:
        n.append(i*i)
print(n)

[9, 36, 81, 81]

In [154]:
[i**2 for i in l]

[9, 16, 25, 36, 49, 64, 81, 81]

# map function

In [155]:
list(map(square,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [156]:
list(map(lambda x: str(x**2)+'Hello',l))

['9Hello',
 '16Hello',
 '25Hello',
 '36Hello',
 '49Hello',
 '64Hello',
 '81Hello',
 '81Hello']

In [157]:
list(map(lambda x: x**2,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [158]:
a=[1,2,3,4,5]
b=[5,6,7,4,3]
c=[6,7,8,6,5,5,4]

In [159]:
list(zip(a,b,c))

[(1, 5, 6), (2, 6, 7), (3, 7, 8), (4, 4, 6), (5, 3, 5)]

In [160]:
d=list(map(lambda x,y,z:x+y+z ,a,b,c))
d

[12, 15, 18, 14, 13]

In [161]:
output=[]
for i,j,k in zip(a,b,c):
    output.append(i+j+k)
print(output)

[12, 15, 18, 14, 13]

In [162]:
n=10
sum_integer=0
for i in range(n):
    sum_integer+=i
    i+=1
print(sum)

15

In [163]:
def sumation(a,b,c):
    return a+b+c
sumation(a,b,c)

[1, 2, 3, 4, 5, 5, 6, 7, 4, 3, 6, 7, 8, 6, 5, 5, 4]

In [164]:
list(map(sumation,a,b,c))     ## add multi index value in form of list

[12, 15, 18, 14, 13]

In [165]:
list(map(lambda x,y,z: x+y+z, a,b,c))

[12, 15, 18, 14, 13]

# reduce function

In [166]:
from functools import reduce

In [167]:
def summation(a,b):
    return a+b

In [168]:
l1=[4,5,6,7,8,9]
reduce(summation,l1)

39

In [169]:
reduce(lambda x,y : x/y,l1)     ## reduce is aggreegate function

0.0002645502645502645

In [170]:
list(filter(lambda x: x%2==0,l1))

[4, 6, 8]

In [171]:
def even_check(n):
    if n%2 ==0:
        return True

In [172]:
list(filter(even_check,l1))

[4, 6, 8]

# Oops

In [173]:
class person:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return 'my name is amar'
P=person(3,4,5)
print(P)

my name is amar

In [174]:
class student(person):  ## inherint
    def __init__(self,student_id,*args):     ## *args means a,b,c
        super(student,self).__init__(*args)
        self.student_id=student_id
    def __str__(self):
        return super(student,self).__str__()+ ' and i am student id: {}'.format(self.student_id)           ## override concept
s=student(4,5,6,7)
s.__str__()

'my name is amar and i am student id: 4'

In [175]:
print(s)

my name is amar and i am student id: 4

# Encapsulation

In [205]:
class tyre:
    def __init__(self, branch , baise,opt_pre):
        self.branch=branch
        self.baise=baise
        self.opt_pre=opt_pre
    def __str__(self):
        return str(self.branch) + " " + str(self.baise) + " " + str(self.opt_pre)
t=tyre('sdfs',52,985)
print(t)

sdfs 52 985

In [206]:
class engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return str(self.fuel_type)+'  '+str(self.noise_level)
e=engine('petrol',56)
print(e)

petrol  56

In [207]:
class body:
    def __init__(self,body_size):
        self.body_size=body_size
    def __str__(self):
        return  'this is my def of engine class :' +' '+str(self.body_size)
b=body('small')
print(b)

this is my def of engine class : small

In [208]:
class car:
    def __init__(self,ti,ei,bi):
        self.ti=t
        self.ei=e
        self.bi=b
    def __str__(self):
        return 'tyer brand_is : ' + ' '+str(self.ti)+"  "+'\nengin_is : ' + ' '+str(self.ei)+"  "+'\nbody_is : ' +' '+str(self.bi)
c=car('MRF','M2','Small')
print(c)

tyer brand_is :  sdfs 52 985
engin_is :  petrol  56
body_is :  this is my def of engine class : small

#  Dynamic Encapsulation

In [209]:
c=car(t,e,'this is my def of of engin class   small')
print(c)

tyer brand_is :  sdfs 52 985
engin_is :  petrol  56
body_is :  this is my def of engine class : small

In [210]:
### polymorphism

def add_x(a,b):
    return a*b

In [211]:
add_x('amar',4)

'amaramaramaramar'

In [212]:
add_x(3,4)

12

In [213]:
add_x([1,2,3,4,5],5)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# File Handling

In [217]:
try:
    f=open('xyz.text')
    f.write('my name is amar')
except FileExistsError as e:
    print(e)
except IOError:
    print('this is an IOError')

this is an IOError

In [218]:
import sqlite3

In [219]:
c=sqlite3.connect('xyz')

In [220]:
c.execute('drop table if exists abc')

In [221]:
c.execute('create table abc(id int,name text, score int)')

In [222]:
c.execute("insert into abc(id , name , score) values(111,'efg',85985)")

# Pyhton Assignments

In [ ]:
## Write a Python program to reverse a word after accepting the input from the user.
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
    print(word[char], end="")
print("\n")

In [200]:
str1=input("Input a word to reverse:  ")
temp=str1.split(' ')
for i in temp:
    print(i[::-1],end=' ')

Input a word to reverse:  4
4

In [201]:
## Write a Python function which takes a character (i.e. a string of length 1) and returns True ifit is a vowel, False otherwise.