In [1]:
print('i am a good boy and\nviewer are also good boy/girl')

i am a good boy and
viewer are also good boy/girl

In [2]:
print(r'i am a good boy and\nviewer are also good boy/girl')   # row formating are not allows escape

i am a good boy and\nviewer are also good boy/girl

In [3]:
name='harry'
print(name[len(name)-4:-1])

arr

In [4]:
name

'harry'

In [5]:
name.find('a')

1

In [6]:
num=int(input('enter the value of number :'))
if (num<=0):
    print("number is negative ")
elif (num==0):
    print('num is zero')
elif (num<999):
    print('elif block : num is special')
else:
    print('i am happy now')

enter the value of number :85
elif block : num is special

In [7]:
import time

In [8]:
timestamp=time.strftime('%H:%M:%S')
print(timestamp)

10:46:26

In [9]:
l=[1,2,3,4,5,6]
output=[]
for i in range(3):
    output.append(l[i])
    output.append(l[i+3])
print(output)

[1, 4, 2, 5, 3, 6]

In [10]:
output=[]
for i in range(int(len(l)/2)):
    output.append(l[i])
    output.append(l[i+int(len(l)/2)])
print(output)

[1, 4, 2, 5, 3, 6]

In [11]:
for i in range(12):
    if(i==10):
        break
    print(5,'*',i+1,'=',5*(i+1))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
for i in range(12):
    print('5 *',i,'=',5*i+1)

5 * 0 = 1
5 * 1 = 6
5 * 2 = 11
5 * 3 = 16
5 * 4 = 21
5 * 5 = 26
5 * 6 = 31
5 * 7 = 36
5 * 8 = 41
5 * 9 = 46
5 * 10 = 51
5 * 11 = 56

In [13]:
def average(*numbers):
    sum=0
    for i in numbers:
        sum=sum+i
    print('average of numbers : ',sum/len(numbers))
    print("sum of elements :", sum)
average(1,2,3,4,5,6)
# print(sum)

average of numbers :  3.5
sum of elements : 21

# DocString

In [14]:
def square(n):
    '''takes in a numbers n ,return the sqaure of n'''
    print(n**2)
square(5)
print(square.__doc__)

25
takes in a numbers n ,return the sqaure of n

In [15]:
complex(12)

(12+0j)

In [16]:
n=10
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print(sum)

55

In [17]:
n=10
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

55

In [20]:
from array import*

In [21]:
stu_id=array('i',[])
n=int(input(" how many elements in the array:"))
for i in range(n):
    stu_id.append(int(input('enter the element of array: ')))
print(stu_id)

 how many elements in the array:4
enter the element of array: 1
enter the element of array: 2
enter the element of array: 3
enter the element of array: 4
array('i', [1, 2, 3, 4])

In [22]:
import numpy
numpy.zeros((3,2),dtype=int)

array([[0, 0],
       [0, 0],
       [0, 0]])

In [23]:
import array

In [24]:
numpy.array((3,2),dtype=int)

array([3, 2])

In [25]:
print(f"my name is {'amarendra kumar kushwaha'} and from {'bihar'}")

my name is amarendra kumar kushwaha and from bihar

In [26]:
class Info:
    def __init__(self,name,state):
        self.name=name
        self.state=state
    def display(self):
        return str(self.name)+" "+str(self.state)

In [27]:
obj=Info('amarendra kumar kushwaha from ','Bihar')
str1=obj.display()

In [28]:
str1.lower()

'amarendra kumar kushwaha from  bihar'

In [29]:
str1.casefold()

'amarendra kumar kushwaha from  bihar'

In [30]:
str1.title()

'Amarendra Kumar Kushwaha From  Bihar'

In [31]:
str1.casefold()

'amarendra kumar kushwaha from  bihar'

In [32]:
x=str1.replace('kushwaha','roy')

In [33]:
type(str1)

str

In [34]:
x

'amarendra kumar roy from  Bihar'

In [35]:
str1

'amarendra kumar kushwaha from  Bihar'

In [36]:
str1.split()

['amarendra', 'kumar', 'kushwaha', 'from', 'Bihar']

In [37]:
str1.capitalize()

'Amarendra kumar kushwaha from  bihar'

In [38]:
str1.title()

'Amarendra Kumar Kushwaha From  Bihar'

In [39]:
class Pin_code(Info):
    def __init__(self,pincode,*args):
        super(Pin_code,self).__init__(*args)
        self.pincode=pincode
    def show(self):
        return super().display()+' '+self.pincode
res=Pin_code("amrendra kumar kushwaha",'Bihar',845105)
res.show()

'Bihar 845105 amrendra kumar kushwaha'

In [40]:
lst={}
for i in str1.split():
    if i in lst:
        lst[i]+=1
    else:
        lst[i]=1
print(lst)

{'amarendra': 1, 'kumar': 1, 'kushwaha': 1, 'from': 1, 'Bihar': 1}

In [41]:
s='123'
sum=0
for i in s:
    sum+=int(i)
print(sum)

6

In [42]:
number=123
a=number%10
number=123//10
b=number%10
number=number//10
c=number%10
number=number//10
z=a+b+c
print(z)

6

In [43]:
s='123'
for i in s[::-1]:
    print(int(i),end='')

321

In [44]:
int(s[::-1])

321

In [45]:
int(''.join(reversed(s)))

321

In [46]:
lst1=[1,2,3,4,5,6]

In [47]:
lst1.index(2)

1

In [48]:
type(int(len(lst1)/2))

int

In [49]:
x=123
rev=0
while 0<x:
    a=x%10
    rev=rev*10+a
    x=x//10
print(rev)

321

In [50]:
output=[]
for i in range(int(len(lst1)/2)):
    output.append(lst1[i])
    output.append(lst1[i+int(len(lst1)/2)])
print(output)

[1, 4, 2, 5, 3, 6]

In [51]:
l1=[12,3,4]
l2=[3,4,5,6]
l3=[4,5,6,7,9]
l4=[]
for a,b,c in zip(l1,l2,l3):
    l4.append(a+b+c)
print(l4)

[19, 12, 15]

In [52]:
result=list(map(lambda x,y,z:x+y+z,l1,l2,l3))
result

[19, 12, 15]

In [53]:
a={'rahul','raj','ramu','samu'}
b={'sajan','rahul','samu','python','java'}

In [54]:
names = ['Jill','Jack','Jeb','Jessica']
grades = [99,56,24,87]

d = dict(zip(names,grades))
print(d)

{'Jill': 99, 'Jack': 56, 'Jeb': 24, 'Jessica': 87}

In [55]:
m = ['Jill','Jack','Jeb','Jessica']
ip='aabccad'
ip=list(set(ip))
lst=[[0,1,5],[2],[3,4],[6]]

In [56]:
dict(zip(ip,b))

{'c': 'java', 'b': 'sajan', 'd': 'samu', 'a': 'rahul'}

In [57]:
dict(zip(m,b))

{'Jill': 'java', 'Jack': 'sajan', 'Jeb': 'samu', 'Jessica': 'rahul'}

In [58]:
list(zip(m,b))

[('Jill', 'java'), ('Jack', 'sajan'), ('Jeb', 'samu'), ('Jessica', 'rahul')]

In [59]:
inpt='aabccad'
lst1=list(set(inpt))
lst=[[0,1,5],[2],[3,4],[6]]

In [60]:
dict(zip(lst1,lst))

{'c': [0, 1, 5], 'b': [2], 'd': [3, 4], 'a': [6]}

In [61]:
d={}
for k,v in zip(lst1,lst):
    d[k]=v
print(d)

{'c': [0, 1, 5], 'b': [2], 'd': [3, 4], 'a': [6]}

In [62]:
dict(zip(a,b))

{'ramu': 'java', 'rahul': 'sajan', 'raj': 'samu', 'samu': 'rahul'}

In [63]:
ipp=set(ip)
ipp

{'a', 'b', 'c', 'd'}

In [64]:
lst

[[0, 1, 5], [2], [3, 4], [6]]

In [65]:
list(zip(ipp,lst))

[('a', [0, 1, 5]), ('c', [2]), ('b', [3, 4]), ('d', [6])]

In [66]:
dict(zip(ipp,lst))

{'a': [0, 1, 5], 'c': [2], 'b': [3, 4], 'd': [6]}

In [67]:
lst=[[0, 1, 5], [2], [3, 4], [6]]
ipp=['a', 'b', 'c', 'd']
dct={}
for k,v in zip(ipp,lst):
    dct[k]=v
print(dct)

{'a': [0, 1, 5], 'b': [2], 'c': [3, 4], 'd': [6]}

In [68]:
m = ['Jill','ack','meb','dessica']
{i[0]:i for i in m}

{'J': 'Jill', 'a': 'ack', 'm': 'meb', 'd': 'dessica'}

In [69]:
a=list(filter(lambda x: x%2==0 ,number))
a

TypeError: 'int' object is not iterable

In [70]:
list(map(lambda x:x+x,a))

['ramuramu', 'rahulrahul', 'rajraj', 'samusamu']

In [71]:
number=[1,2,3,4]
result=map(lambda x: x+x, filter(lambda x: x%2==0 ,number))
print(list(result))

[4, 8]

In [72]:
from functools import reduce
number=[1,2,3,4,5,6,7,8]
result=reduce(lambda x,y:x+y,map(lambda x: x+x, filter(lambda x: x%2==0 ,number)))
print(result)

40

In [73]:
l=list(filter(lambda x: x%2==0 ,number))
l

[2, 4, 6, 8]

In [74]:
result=list(map(lambda x: x+x,[2,4]))
print(result)

[4, 8]

In [75]:
import math
def factorial(n):
    return math.factorial(n-1)
factorial(6)

120

In [76]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [77]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [78]:
out=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            out.append((x,y))
print(out)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [79]:
a=int(input('enter the numbers  : '))
print(f"multiplications tabel of {a} is :")
try:
    for i in range(1,11):
          print(f"{int(a)} X {i}={int(a)*i}")
except exception as e:
    print(e)
print('end of code')

enter the numbers  : 4
multiplications tabel of 4 is :
4 X 1=4
4 X 2=8
4 X 3=12
4 X 4=16
4 X 5=20
4 X 6=24
4 X 7=28
4 X 8=32
4 X 9=36
4 X 10=40
end of code

In [80]:
s=int(input('enter the number: '))
try:
    c=5
    d=10
    z=c+d/s
    print(z)
except Exception as e:
    print('Invalid input')
else:
    print('cod is good working try blocks')
finally:
    w=c*d
    print(w)
    print('ok')
print('how are u')

enter the number: 4
7.5
cod is good working try blocks
50
ok
how are u

In [81]:
# s=int(input('enter the string: '))
try:
    c=5
    d=10
    s=int(input("enter the number : "))
    z=c+d/s
    print(z)
except Exception as e:
    print('Invalid input, Try block failed ')
else:
    print('cod is good working try blocks')
finally:
    r=40
    e=10
    w=e*r
    print("the output of Finally Block : ",w)
# print('how are u')

enter the number : 4
7.5
cod is good working try blocks
the output of Finally Block :  400

In [82]:
#volume sphere
diameter=12
r=diameter/2
area=4/3*3.14*r*3
print(area)

75.35999999999999

# cutome error

In [83]:
a=int(input('enter the value betweeen 5 and 9 : '))
if(a<5 or a>9):
    raise ValueError('value should be 5 and 9')

enter the value betweeen 5 and 9 : 5

In [84]:
def outer_fuc(x):
    def inner_fuc(y):
        return x+y
    return inner_fuc
result=outer_fuc(10)
print(result)

<function outer_fuc.<locals>.inner_fuc at 0x00000222133920D0>

In [85]:
def calculation(add,multi):
    return add(),multi(),division()
def add():
    a=10
    b=20
    z=a+b
    print("add of two numbers: ",z)
def multi():
    a=10
    b=20
    x=a*b
    print("multi of two numbers: ",x)
def division():
    a=20
    b=10
    x=a/b
    print("division of two numbers: ",x)
calculation(add,multi)

add of two numbers:  30
multi of two numbers:  200
division of two numbers:  2.0

(None, None, None)

In [86]:
# lambda

def appl(fx,value):
    return 6 +fx(value)
print(appl(lambda x:x*x*x,2))

14

In [87]:
cube=lambda x:x*x*x

In [88]:
def appl(fx,value):
    return 6 +fx(value)
print(appl(cube,2))

14

In [89]:
# map function
lst=[1,2,3,4,5,6]

In [90]:
def cube(x):
    return x*x*x
cube(2)

8

In [91]:
lst1=[]
for item in lst:
    lst1.append(cube(item))
print(lst1)

[1, 8, 27, 64, 125, 216]

In [92]:
result=list(map(lambda x:cube(x),lst))
print(result)

[1, 8, 27, 64, 125, 216]

In [93]:
newl=list(map(cube,lst))
print(newl)

[1, 8, 27, 64, 125, 216]

In [94]:
result1=list(map(lambda x: x*x*x,lst))
print(result1)

[1, 8, 27, 64, 125, 216]

In [95]:
[i**3 for i in lst]

[1, 8, 27, 64, 125, 216]

In [96]:
result2=list(map(lambda x : x*5,range(1,11)))
print(result2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [97]:
[i*5 for i in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [98]:
# filter 

def filter_function(x):
    return x>4

In [99]:
newn=list(filter(filter_function,lst))
newn

[5, 6]

In [100]:
result=0
for i in range(10):
    if i%2==0:
        result+=i
    else:
        result-=i
print(result)

-5

In [101]:
# decorator
def decor(x):
    def adder(y):
        return x+y
    return adder
result=decor(10)
print(result(15))

25

# full Oops

In [102]:
class Person:
    name='amar'
    occupations='software development'
    networth=10
    def info(self):
        print(f"{self.name} is a {self.occupations}")
a=Person()
# a.name='shubham'
# a.occupations='cricket'
# print(a.name,a.occupations)
b=Person()
b.name='nitika'
b.occupations='HR'

a.info()
b.info()

amar is a software development
nitika is a HR

In [103]:
class Person:
    def __init__(self,name,occupations):
        print('I am a persons')
        self.name=name
        self.occupations=occupations

    def info(self):
        print("{} is a {}".format(self.name,self.occupations))
#         print(f"{self.name} is a {self.occupations}")

a=Person('amar','software developer')
b=Person('nikita','HR')
# b.name='nitika'
# b.occupations='HR'

a.info()
b.info()

I am a persons
I am a persons
amar is a software developer
nikita is a HR

In [104]:
# decorators

def decor1(num):
    def inner():
        b=num()
        multi=b*10
        return multi
    return inner
@decor1
def num():
    return 10
num=decor1(num)
print(num)

<function decor1.<locals>.inner at 0x000002221A7BAAF0>

In [105]:
def greet(fx): # fx is the functon which is the used as a parameters
    def modifyfx():
        print('good morning: ')
        fx()
        print("thamks for using this functions : ")
    return modifyfx
@greet
def hello():
    print('hello world')
# @greet
# def sumation(a,b):
#     return a+b
# # addition=sumation(10,20)
# # print("sum of two numbers : ",addition)

In [106]:
def greet(fx): # fx is the functon which is the used as a parameters
    def modifyfx(*args,**kwargs):
        print('good morning: ')
        fx(*args,**kwargs)
        print("thamks for using this functions : ")
    return modifyfx
@greet
def hello():
    print('hello world')
hello()
print()
@greet
def add(a,b):
    return a+b
add(10,20)
# greet(hello)
# greet(add)(10,30)
# sumation(10,20)
# print("sum of two numbers : ",addition)

good morning:
hello world
thamks for using this functions :

good morning:
thamks for using this functions :

In [107]:
#setter and getter
class Myclass:
    def __init__(self,value):
        self._value=value
    def show(self):
        print(f" value is : ",self._value)
    @property
    def ten_value(self):   # getter
        return 10*self._value       # 6.7*10=67 
    @ten_value.setter         # new method behave like property setter
    def ten_value(self,new_value):
        self._value=new_value/10     # set value 67/10=6.7
    
obj=Myclass(10)
obj.ten_value=67
print(obj.ten_value)
obj.show()

67.0
 value is :  6.7

# Inheritance

In [108]:
class Employee:
    def __init__(self,emp_name,emp_id):
        self.emp_name=emp_name
        self.emp_id=emp_id
    def employeedetails(self):
        print(f"Employee name is {self.emp_name} and id is {self.emp_id}")
        
class programmer(Employee):
    def showlanguage(self):
        print('the default alnguage is the python')
        
class suport_programmer(programmer):
    def __init__(self,update,*args):
        super().__init__(*args)
#         self.emp_name=emp_name
#         self.emp_id=emp_id
        self.update=update
    def updatecode(self):
        print(f"my name is {self.emp_name} and id is {self.emp_id} and \nI am suport programer of data science project {self.update} the all coding.")
        
        
e1=Employee('Amarendra kumar',400)
e1.employeedetails()
print()
e2=programmer('samu',4100)
e2.employeedetails()
e2.showlanguage()
print()
e3=suport_programmer('ramu',4200,'update')
# e3.employeedetails()
e3.showlanguage()
e3.updatecode()

Employee name is Amarendra kumar and id is 400

Employee name is samu and id is 4100
the default alnguage is the python

the default alnguage is the python
my name is 4200 and id is update and
I am suport programer of data science project ramu the all coding.

In [118]:
class Employee:
    def __init__(self,emp_name,emp_id):
        self.emp_name=emp_name
        self.emp_id=emp_id
    def employeedetails(self):
        return f"Employee Name: {self.emp_name} \nid : {self.emp_id}"
class Programmer(Employee):
    def __init(self,skills,*args):
        super(Programmer,self).__init__(*args)
        self.skills=skills
    def showdetails(self):
        return super(Programmer,self).employeedetails()+" "+ self.skills
class Upadte(Programmer):
    def __init(self,update,*args):
        super(Upadte,self).__init__(*args)
        self.update=update
    def updatecode(self):
        return(f"Employee Name: {self.emp_name} \nId : {self.emp_id} \nMaster skills : {self.skills}\nUpdate code : {self.update}")
e1=Employee('Amarendra kumar',400)
e1.employeedetails()
print()
e2=Programmer('samu',400,'python')
e2.showdetails()
print()
e3=Upadte('ramu',400,'Python','Add new class')
e3.updatecode()
print()

TypeError: __init__() takes 3 positional arguments but 4 were given

# Access Modifiers

In [131]:
class A:
    def __init__(self):
        self.name='amar'
        self._name='samu'
        self.__name='ramu' # name mangling concept
a=A()
print('this is the public variable : ',a.name)
print('this is the protected variaable : ',a._name)
print('this is the private variable , if access this varibale with class: ',a._A__name)

this is the public variable :  amar
this is the protected variaable :  samu
this is the private variable , if access this varibale with class:  ramu

In [132]:
# snake water gun games
import random
def check(comp,user):
    if(comp==0 and user==0):
        return 0
    if(comp==0 and user==1):
        return -1
    if(comp==1 and user==2):
        return -1
    if(comp==2 and user==0):
        return -1
comp=random.randint(0,2)
user=int(input('0 for snake, 1 for water and 2 for gun : \n'))
# user_range=0,1,2
# if(user==0,1,2):
#     print('welscome to palying game : ')
# else:
#     print("plz enter the value under the range(0,1,2) otherwise out of range : ")
    

score=check(comp,user)

print('You: ',user)
print('computer :',comp)

if(score==0):
    print('its draw')
elif(score==-1):
    print('You lose')
else:
    print('You won')

0 for snake, 1 for water and 2 for gun :
1
You:  1
computer : 2
You won

In [133]:
user=int(input('0 for snake, 1 for water and 2 for gun : \n'))
user_range=0,1,2
for i in user_range:
#     print(i,user_range[i])
    if (user==user_range[i]):
        print('w')
    else:
        print('o')

0 for snake, 1 for water and 2 for gun :
4
o
o
o

In [134]:
# static methods
class Math:
    def __init__(self,num):
        self.num=num
    def addtonum(self,n):
        self.num=self.num+n
        
    @staticmethod
    def add(a,b):
        return a+b
result=Math.add(1,2)
print(result)
print()
a=Math(5)
print(a.num)
print()
a.addtonum(6)
print(a.num)

3

5

11

In [135]:
# Library code
class Library:
    def __init__(self):
        self.nobooks=0
        self.books=[]
    def addbook(self,book):
        self.books.append(book)
        self.nobooks=len(self.books)
    def showInfo(self):
        print(f"the library has {self.nobooks} books")
        
        for i in self.books:
            print(i)
l1=Library()
l1.addbook('harry porter')
l1.addbook('good english')
l1.addbook('mathematics')
l1.addbook('physics')
l1.showInfo()

the library has 4 books
harry porter
good english
mathematics
physics

In [136]:
# class method as alternative constructor
class employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    #alternative constructor
    @classmethod
    def fromStr(cls,string):
        return cls(string.split("-")[0],string.split("-")[1])
    
e=employee('amar',15000)
print(e.name)
print(e.salary)
print()
string='ramu-15000'
e2=employee.fromStr(string)
print(e2.name)
print(e2.salary)

amar
15000

ramu
15000

In [137]:
# dir,__dir__ and help method
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p=Person('amar',28)
print(p.__dict__)
print(help(Person)) #describ the class

{'name': 'amar', 'age': 28}
Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [138]:
#method overriding
## those method are come frome parent class in side the child class and change it.
class Shape:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def area(self):
        return self.x * self.y
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
        super().__init__(radius,radius)
    def area(self):
        return 3.14*super().area()
#     def area(self):
#         return 3.14 * self.radius*self.radius
    
rec=Shape(3,4)
print(rec.area())

c=Circle(2)
print(c.area())

12
12.56

In [139]:
class vector:
    def __init__(self,i,j,k):
        self.i=i
        self.j=j
        self.k=k
    def __str__(self):
        return f"{self.i}.i+{self.j}.j+{self.k}.k"
    def __add__(self,x): # its return vector
        return vector(self.i+x.i,self.j+x.j,self.k+x.k)
    
#     def __add__(self,x): # its return str
#         return f"{self.i+x.i}.i+{self.j+x.j}.j+{self.k+x.k}.k"
    
v=vector(2,3,4)
print(v)
v1=vector(1,5,9)
print(v)
print(v+v1)
print(type(v+v1))

2.i+3.j+4.k
2.i+3.j+4.k
3.i+8.j+13.k
<class '__main__.vector'>

In [140]:
# Single Inheritance
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
    def make_sound(self):
        print("sound made by the animal")
class Dog(Animal):
    def __init__(self,name,bread):
        Animal.__init__(self,name,species='Dog')
        self.bread=bread
    def make_sound(self):
        print('bark dog')
d=Dog('dog','doggerman')
d.make_sound()
a=Animal('dog','dog')
a.make_sound()

bark dog
sound made by the animal

In [141]:
# Multiple Inheritance
class Employee:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(f"the name is {self.name}")
        
class Department:
    def __init__(self,occupation):
        self.occupation=occupation
    def show(self):
        print(f"the name is {self.occupation}")
class DepartmentEmployee(Employee,Department):
    def __init__(self,name,occupation):
        self.name=name
        self.occupation=occupation
d=DepartmentEmployee('amar','software developement')
print(d.name)
print(d.occupation)
d.show()
print(DepartmentEmployee.mro())

amar
software developement
the name is amar
[<class '__main__.DepartmentEmployee'>, <class '__main__.Employee'>, <class '__main__.Department'>, <class 'object'>]

In [142]:
import re

In [143]:
pattern=" was "
text="""After the 10th century, Muslim Central Asian nomadic clans, using swift-horse cavalry and raising vast armies 
united by ethnicity and religion, repeatedly overran South Asia's north-western plains, leading eventually to the 
establishment of the Islamic Delhi Sultanate in 1206.[116] The sultanate was to control much of North India and to make
many forays into South India. Although at first disruptive for the Indian elites, the sultanate largely left its vast
non-Muslim subject population to its own laws and customs.[117][118] By repeatedly repulsing Mongol raiders in the 13th
century, the sultanate saved India from the devastation visited on West and Central Asia, setting the scene for centuries
of migration of fleeing soldiers, learned men, mystics, traders, artists, and artisans from that region into theand Dyclone
subcontinent, thereby creating a syncretic Indo-Islamic culture in the north.[119][120] The sultanate's raiding and
weakening of the regional kingdoms of South India paved the way for the indigenous Vijayanagara Empire.[121] Embracing 
a strong Shaivite tradition and building upon the military technology of the sultanate, the empire came to control much of 
peninsular India,[122] and was to influence South Indian society for long afterwards.[121]  Cyclone """

In [144]:
output={}
for i in text.split():
    if i in output:
        output[i]+=1
    else:
        output[i]=1
print(output)

{'After': 1, 'the': 16, '10th': 1, 'century,': 2, 'Muslim': 1, 'Central': 2, 'Asian': 1, 'nomadic': 1, 'clans,': 1, 'using': 1, 'swift-horse': 1, 'cavalry': 1, 'and': 9, 'raising': 1, 'vast': 2, 'armies': 1, 'united': 1, 'by': 1, 'ethnicity': 1, 'religion,': 1, 'repeatedly': 2, 'overran': 1, 'South': 4, "Asia's": 1, 'north-western': 1, 'plains,': 1, 'leading': 1, 'eventually': 1, 'to': 6, 'establishment': 1, 'of': 8, 'Islamic': 1, 'Delhi': 1, 'Sultanate': 1, 'in': 3, '1206.[116]': 1, 'The': 2, 'sultanate': 3, 'was': 2, 'control': 2, 'much': 2, 'North': 1, 'India': 3, 'make': 1, 'many': 1, 'forays': 1, 'into': 2, 'India.': 1, 'Although': 1, 'at': 1, 'first': 1, 'disruptive': 1, 'for': 4, 'Indian': 2, 'elites,': 1, 'largely': 1, 'left': 1, 'its': 2, 'non-Muslim': 1, 'subject': 1, 'population': 1, 'own': 1, 'laws': 1, 'customs.[117][118]': 1, 'By': 1, 'repulsing': 1, 'Mongol': 1, 'raiders': 1, '13th': 1, 'saved': 1, 'from': 2, 'devastation': 1, 'visited': 1, 'on': 1, 'West': 1, 'Asia,': 1, 'setting': 1, 'scene': 1, 'centuries': 1, 'migration': 1, 'fleeing': 1, 'soldiers,': 1, 'learned': 1, 'men,': 1, 'mystics,': 1, 'traders,': 1, 'artists,': 1, 'artisans': 1, 'that': 1, 'region': 1, 'theand': 1, 'Dyclone': 1, 'subcontinent,': 1, 'thereby': 1, 'creating': 1, 'a': 2, 'syncretic': 1, 'Indo-Islamic': 1, 'culture': 1, 'north.[119][120]': 1, "sultanate's": 1, 'raiding': 1, 'weakening': 1, 'regional': 1, 'kingdoms': 1, 'paved': 1, 'way': 1, 'indigenous': 1, 'Vijayanagara': 1, 'Empire.[121]': 1, 'Embracing': 1, 'strong': 1, 'Shaivite': 1, 'tradition': 1, 'building': 1, 'upon': 1, 'military': 1, 'technology': 1, 'sultanate,': 1, 'empire': 1, 'came': 1, 'peninsular': 1, 'India,[122]': 1, 'influence': 1, 'society': 1, 'long': 1, 'afterwards.[121]': 1, 'Cyclone': 1}

In [145]:
lst=[]
for k,v in output.items():
    if v==2:
        lst.append(k)
print(lst)
" ".join(lst)

['century,', 'Central', 'vast', 'repeatedly', 'The', 'was', 'control', 'much', 'into', 'Indian', 'its', 'from', 'a']

'century, Central vast repeatedly The was control much into Indian its from a'

In [146]:
# regular function
re.findall(pattern,text) # syntax

[' was ', ' was ']

In [147]:
pattern='[A-Z]+yclone'
matches=re.findall(pattern,text)
for match in matches:
    print(match)

Dyclone
Cyclone

In [148]:
# mini calculator
num1=float(input('enter the first numbers  : '))
operators=input("enter the operators \n(+ or - or * or (**=bow) or / or//)")
num2 =float(input('enter the second numbers :'))
if operators=='+':
    print(f"{int(num1)} + {int(num2)}={num1+num2}")
elif operators=='-':
    print(f"{int(num1)} - {int(num2)}={num1-num2}")
    
elif operators=='*':
    print(f"{int(num1)} * {int(num2)}={num1*num2}")
elif operators=='**':
    print(f"{int(num1)} ** {int(num2)}={num1**num2}")
elif operators=='/':
    print(f"{int(num1)} / {int(num2)}={num1/num2}")
elif operators=='//':
    print(f"{int(num1)} // {int(num2)}={num1+num2}")
else:
    print('the operator is the worng')

enter the first numbers  :

ValueError: could not convert string to float: ''

In [149]:
import re
m = re.search('(?<=abc)def', 'abcdef')
m.group(0)

'def'

In [122]:
pattern='[a-f]+', '0a3B9'
re.split(pattern, flags=re.IGNORECASE)

TypeError: split() missing 1 required positional argument: 'string'